:root {
    --Blue: hsl(223, 87%, 63%);
    --PaleBlue: hsl(223, 100%, 88%);
    --LightRed: hsl(354, 100%, 66%);
    --Gray: hsl(0, 0%, 59%);
    --veryDarkBlue: hsl(209, 33%, 12%);
}

@font-face {
    font-family: LibreFranklin;
    src: url("./fonts/LibreFranklin-VariableFont_wght.ttf");
}

* {
    box-sizing: border-box;
    margin: 0; padding: 0;
}

body {
    font-family: LibreFranklin;
    font-size: 20px;
}

.container {
    max-width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    padding: 4em .9em;
}

.head {
    margin-bottom: .8em;
}

.heading{
    font-weight: 400;
    color:hsl(0, 0%, 59%);
    font-size: 1.5em;
    margin-bottom: .5em;
} 

.subheading {
    font-weight: bolder;
    color: hsl(209, 33%, 12%);  
}

.info {
    margin-bottom: 2em;
    color: hsl(209, 33%, 12%);
}

.form {
    display: flex;
    width: 80%;
    margin-bottom: 2em;
    flex-wrap: wrap;
    gap: 10px;
}

input[type=email] {
    order: 1;
    width: 60%;
    margin-bottom: .5em;
    padding: 0.8em 0.5em;
    border-radius: 50px;
    border: 1px solid hsl(223, 100%, 88%);
}

input::placeholder {
    color: hsl(223, 100%, 88%);
    margin-left: 1em;
}

input:focus {
    outline: none;
    border: 1px solid hsl(223, 100%, 88%);
}

button[type=submit] {
    order: 2;
    width: 30%;
    padding: 0.8em 0.5em;
    border-radius: 50px;
    border: none;
    background-color: hsl(223, 87%, 63%);
    box-shadow: 0 5px 10px hsl(223, 100%, 88%);
    color: white;
}

button:hover {
    background-color: hsla(223, 87%, 63%, 0.489);
    cursor: pointer;
}

.validemail {
    order: 3;
    align-self: flex-end;
    font-size: .7em;
    font-style: italic;
    color:hsl(354, 100%, 66%);
    text-align: center;
    opacity: 0;
    visibility: hidden;
}

.error {
    outline: 1px solid hsl(354, 100%, 66%);
    -moz-outline-radius: inherit;
}

input.error:focus {
    border: 1px solid hsl(354, 100%, 66%);
}

input.error::placeholder{color: hsl(354, 100%, 66%);}

.error  + .validemail {
    opacity: 1;
    visibility: visible;
    margin-bottom: 2em;
}

.foot {
    justify-self: flex-end;
}

p.footer {
    font-size: .8em;
    color: hsl(0, 0%, 59%)
}

.picplace {
    margin-bottom: 5em;
}

img[alt=background] {
    width: 100%;
}

.svgcollection svg {
    width: 30px;
    height: 30px;
    border: 1px solid hsl(223, 100%, 88%);
    border-radius: 50%;
}

.svgcollection {
    display: flex;
    justify-content: center;
    gap: 1.5em;
    margin-bottom: 2em;
}

@media screen and (max-width: 600px) {
    .form {
        flex-direction: column;
        gap: 0;
    }

    input[type=email] {
        width: 100%;
        order: 1;
    }

    .validemail {
        align-self: flex-start;
    }

    button[type=submit] {
        width: 100%;
        order: 3;
    }


}